@model TodoList.Web.Models.TodoItemCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Todo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="CreateContentTextArea"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuetoDateTime" class="control-label"></label>
                <input type="datetime-local" asp-for="DuetoDateTime" class="form-control" />
                <span asp-validation-for="DuetoDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input type="text" asp-for="Tags" class="form-control" id="Tags" placeholder="Comma separated tags"/>
                <span asp-validation-for="Tags" class="text-danger"></span>
                <!--TODO: Updated UI needed for this.-->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<partial name="_EditorStylePartial" />

@section Scripts {
    <partial name="_EditorScriptsPartial" />
}
